.middleContent{
    width: 80%;
    height: fit-content;
    position: relative;
    top: 450px;
    left: 10%;
    margin: 0px;
}
.middleContent img{
    width: 100%;
    height: 250px;
}
.middleContent h1{
    position: relative;
    top: -180px;
    left: 8rem;
    color: #fff;
}
.middlearea{
    width: 80%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    margin: auto;
    position: relative;
    top: -116px;
}
/* #misecondp{
    color: rgb(210, 143, 20);
}
.factfirstp{
    font-size: 20px;
    color: rgb(226, 33, 33);
    transform: translate(500px,-280px);
}
.factfirstp:after{
    content: " ";
    width: 2px;
    height: 100px;
    background-color: rgb(226, 33, 33);
    position: absolute;
    top: 180%;
    left: 8%;
}
.mifirstdiv{
    position: relative;
}
.mifirstdiv::after{
    content: " ";
    width: 10px;
    height: 10px;
    background-color: red;
    position: absolute;
    top: 90%;
    left: 46%;
    transform: rotate(45deg);
} */
.miunderline{
    width: 80%;
    height: 1px;
    background-color: red;
    transform: translate(12.5%,-118px);
}
.activeSlider{
    width: 14%;
    height: 100%;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;   
    color: orange; 
}
.activeSlider p{
    padding-top: 8px;
    color: rgb(16, 16, 103);
    font-size: 13px;
}
.active{
    color: orangered;
}
.middlearea ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 10px 10px 0px;
}
.middlearea ul li{
    width: 13.8%;
    font-size: 17px;
    cursor: pointer;
    font-weight: 600;
    border-radius: 10px;
    text-align: center;
    padding-top: 10px;
}
.middlearea ul li:hover{
    background-color: rgb(235, 233, 233);
}

/* Video Sectio9n start */

.videoContent{
    width: 80%;
    height: 450px;
    position: relative;
    top: -118px;
    margin: auto;
    background-color: #ffffff;
}
.videoContent h3{
    padding-top: 30px;
    color: rgb(16, 16, 142);
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}
.videos{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-between;
}
.firstVideos{
    display: flex;
    width: 49.5%;
    height: 100%;
    justify-content: space-between;
}
.lastVideos{
    width: 49.5%;
    display: flex;
    height: 100%;
    justify-content: space-between;
}
.video{
    width:49%;
    height: 100%;
}
.video iframe{
    width: 100%;
    height: 50%;
}
/* .activeSlider:active{
    color: orange;
} */
.tour{
    font-size: 18px;
    color: orangered;
    font-weight: 500;
    margin: 0px;
    padding: 3%;
}
.destination{
    color: rgb(13, 13, 104);
    font-size: 15px;
    margin: 0px;
    font-weight: 600;
    padding: 3%;
}
.videoContent button{
    padding: 8px 20px;
    background-color: rgb(239, 170, 42);
    border: none;
    color: white;
    position: relative;
    left: 42%;
    top: 12%;
    font-size: 18px;
}
.videoContent button:hover{
    background-color: rgb(214, 141, 4);
}
/* Video Section End */
/* Image Content Start */

.imageContent{
    width: 80%;
    height: 450px;
    position: relative;
    top: -150px;
    margin: auto;
}
.imageContent h3{
    padding-top: 30px;
    color: rgb(16, 16, 142);
    text-align: center;
    font-size: 25px;
}
.images{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-between;
}
.firstImages{
    display: flex;
    width: 49.5%;
    height: 100%;
    justify-content: space-between;
}
.lastImages{
    width: 49.5%;
    display: flex;
    height: 100%;
    justify-content: space-between;
}
.mi_image{
    width:49%;
    height: 100%;
}
.mi_image img{
    width: 100%;
    height: 50%;
}
.exp{
    font-size: 18px;
    color: orangered;
    font-weight: 500;
    margin: 0px;
    color: orangered;
    font-weight: 500;
    margin: 0px;
    padding: 3%;
}
.places{
    color: rgb(13, 13, 104);
    font-size: 15px;
    margin: 0px;
    font-weight: 600;
    padding: 3%;
}
.imageContent button{
    padding: 8px 20px;
    background-color: rgb(238, 157, 6);
    border: none;
    color: white;
    position: relative;
    left: 35%;
    top: 10%;
    font-size: 18px;
}
.imageContent button:hover{
    background-color: rgb(214, 141, 4);
}
/* Image Content End */
.factdiv{
    width: 80%;
    height: 180px;
    margin: auto;
    position: relative;
    top: -150px;
    display: flex;
    background-color: rgb(36, 4, 100);
}
.factdivFirst{
    width: 230px;
    height: 180px;
    float: left;
    border-radius: 50%;
    margin-left: 30px;
    position: relative;
    top: -30px;

}
.factdivFirst img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
}
.factdivLast{
    width: 90%;
    height: 200px;
    margin-left: 10px;
}
.factfirstp{
    font-size: 18px;
    color: whitesmoke;
    transform: translate(20px,30px);
    width: 90%;
}
.factfirstp::after{
    content: " ";
    width: 300px;
    height: 2px;
    background-color: #fdfbfb;
    transform: translate(30px,-30px);
}
.factdivLast p:last-child{
    font-size: 15px;
    font-weight: 600;
    color: whitesmoke;
    transform: translate(20px,30px);
    padding-right: 50px;
}
.arrow_icon{
    position: relative;
    top: 10%;
    right: 3%;
    width: 30px;
}
#right_arrow{
    position: relative;
    font-size: 40px;
    font-weight:lighter;
    color: #fff;
}
#left_arrow{
    position: relative;
    top: -20px;
    left: 5px;
    transform: translate(-200px,-200px);
    font-size: 40px;
    font-weight: 100;
    opacity: .2;
    color: #fff;
}
/* @media(max-width: 1300px){
    .middleContent{
        top: 590px;
    }
    .middleContent h1{
        left: .5rem;
        top: -200px;
        font-size: 40px;
        text-align: center;
    }
    .middlearea{
        width: 90%;
        top: -185px;
        height: 70px;
        padding: 5px;
    }
    .middlearea div{
        width: 13%;
        font-size: 20px;
        padding-right: 10px;
    }
    .middlearea div p{
        font-size: 19px;
        margin-top: 5px;
    }
    .mifirstdiv::after{
        top: 82%;
        left: 38%;
        width: 20px;
        height: 20px;
    }
    .miunderline{
        transform: translate(46px,-192px);
        width: 91%;
    }
    .videoContent{
        top: -226px;
        width: 90%;
        height: 300px;
    }
    .videoContent h3{
        font-size: 35px;
    }
    .videos{
        height: 250px;
    }
    .video{
        width: 24%;
    }
    .tour{
        font-size: 25px;
    }
    .destination{
        font-size: 20px;
        text-align: justify;
        padding: 10px;
    }
    .videoContent button{
        top: 40%;
        left: 40%;
        font-size: 28px;
    }
    .imageContent{
        top: 10px;
        width: 90%;
        height: 300px;
    }
    .imageContent h3{
        font-size: 35px;
    }
    .images{
        height: 250px;
    }
    .mi_image{
        width: 24%;
    }
    .exp{
        font-size: 25px;
    }
    .places{
        font-size: 20px;
        text-align: justify;
    }
    .imageContent button{
        top: 40%;
        left: 38%;
        font-size: 25px;
    }
    .factdiv{
        top: 300px;
        width: 100%;
        height: 200px;
    }
    .factfirstp::after{
        content: " ";
        width: 300px;
        transform: translate(50px,-48px);
        height: 2px;
        background-color: #fdfbfb;
    }
    .factfirstp{
        font-size: 28px;
        transform: translate(30px,5px);
    }
    .factdivLast p:last-child{
        font-size: 20px;
        padding-right: 20px;
        padding-top: 0px;
        margin-top: 0px;
        background-color: yellow;
        transform: translate(20px,10px);
    }
    #right_arrow{
        font-size: 30px;
    }
    #left_arrow{
        font-size: 30px;
    }
} */

/* @media(min-width: 1010px){
    .middleContent h1{
        left: 4rem;
        font-size: 30px;
    }
    .middlearea{
        width: 90%;
        top: -166px;
        height: 80px;
        padding: 5px;
    }
    .middlearea div{
        width: 100px;
        font-size: 20px;
        padding-right: 10px;
    }
    .middlearea div p{
        font-size: 16px;
    }
    .mifirstdiv::after{
        top: 82%;
        left: 40%;
        width: 20px;
        height: 20px;
    }
    .miunderline{
        transform: translate(30px,-174px);
        width: 92%;
    }
    .videoContent{
        top: -203px;
        width: 90%;
        height: 300px;
    }
    .videoContent h3{
        font-size: 30px;
    }
    .videos{
        height: 150px;
    }
    .video{
        width: 24%;
    }
    .tour{
        font-size: 20px;
    }
    .destination{
        font-size: 16px;
        text-align: justify;
    }
    .videoContent button{
        top: 40%;
        left: 40%;
        font-size: 25px;
    }
    .imageContent{
        top: -65px;
        width: 90%;
        height: 300px;
    }
    .imageContent h3{
        font-size: 25px;
    }
    .images{
        height: 150px;
    }
    .mi_image{
        width: 24%;
    }
    .exp{
        font-size: 20px;
    }
    .places{
        font-size: 16px;
        text-align: justify;
    }
    .imageContent button{
        top: 40%;
        left: 30%;
        font-size: 25px;
    }
    .factdiv{
        top: 100px;
        width: 100%;
        height: 200px;
    }
    .factfirstp{
        font-size: 25px;
        transform: translate(30px,5px);
    }
    .factfirstp::after{
        transform: translate(80px,-42px);
        width: 200px;
    }
    .factdivLast p:last-child{
        font-size: 18px;
        padding-right: 20px;
        padding-top: 0px;
    }
    #right_arrow{
        font-size: 40px;
    }
    #left_arrow{
        font-size: 40px;
    }
} */
@media(max-width: 1000px){
    .middleContent h1{
        left: 3.99999rem;
        top: -230px;
        font-size: 30px;
    }
    .middlearea{
        width: 90%;
        top: -182px;
        height: 120px;
        padding: 5px;
    }
    .middlearea div{
        width: 100px;
        font-size: 20px;
        padding-right: 10px;
    }
    .middlearea div p{
        font-size: 19px;
    }
    .mifirstdiv::after{
        top: 95%;
        left: 40%;
        width: 20px;
        height: 20px;
    }
    .miunderline{
        transform: translate(35px,-183px);
        width: 91%;
    }
    .videoContent{
        top: -202px;
        width: 90%;
        height: fit-content;
    }
    .videoContent h3{
        font-size: 50px;
        padding-bottom: 20px;
    }
    .tour{
        font-size: 30px;
    }
    .destination{
        font-size: 26px;
        text-align: justify;
    }
    .videoContent button{
        top: 40px;
        left: 35%;
        font-size: 30px;
    }
    .imageContent{
        top: -65px;
        width: 90%;
        height: 550px;
    }
    .imageContent h3{
        font-size: 50px;
        padding-bottom: 20px;
    }
    .exp{
        font-size: 30px;
    }
    .places{
        font-size: 26px;
        text-align: justify;
    }
    .imageContent button{
        top: 180px;
        left: 30%;
        font-size: 30px;
    }
    .factdiv{
        top: 180px;
        width: 100%;
        height: 230px;
    }
    .factdivFirst{
        height: 230px;
    }
    .factfirstp{
        font-size: 30px;
        transform: translate(30px,25px);
    }
    .factfirstp::after{
        transform: translate(80px,-49px);
        width: 200px;
    }
    .factdivLast p:last-child{
        font-size: 25px;
        padding-right: 20px;
        padding-top: 0px;
        transform: translate(20px,40px);
    }
    #right_arrow{
        font-size: 50px;
    }
    #left_arrow{
        font-size: 50px;
    }
}
@media(max-width: 900px){
    .middleContent h1{
        left: 2rem;
        font-size: 28px;
    }
    .middlearea{
        top: -156px;
        height: 95px;
        padding: 5px;
    }
    .middlearea div{
        width: 100px;
        font-size: 8px;
    }
    .middlearea div p{
        padding-top: 0px;
        font-size: 17px;
    }

    .mifirstdiv::after{
        width: 20px;
        height: 20px;
        top: 93%;
        left: 46%;
    }
    .miunderline{
        transform: translate(28px,-158px);
        width: 91%;
    }
    .videoContent{
        top: -176px;
        width: 90%;
        height: fit-content;
    }
    .videoContent h3{
        font-size: 35px;
    }
    .tour{
        font-size: 28px;
    }
    .destination{
        font-size: 22px;
        text-align: justify;
    }
    .videoContent button{
        top: 50px;
        left: 35%;
    }
    .imageContent{
        top: -65px;
        width: 90%;
        height: 550px;
    }
    .imageContent h3{
        font-size: 35px;
    }
    .exp{
        font-size: 28px;
    }
    .places{
        font-size: 22px;
        text-align: justify;
    }
    .imageContent button{
        top: 30%;
        left: 30%;
    }
    .factdiv{
        top: 250px;
        width: 100%;
    }
    .factdivFirst{
        height: 230px;
    }
    .factfirstp{
        font-size: 30px;
    }
    .factfirstp::after{
        transform: translate(90px,-50px);
        width: 200px;
    }
    .factdivLast p:last-child{
        font-size: 20px;
        padding-right: 20px;
        margin-top: 0px;
        transform: translate(20px,50px);
    }
    #right_arrow{
        font-size: 40px;
    }
    #left_arrow{
        font-size: 40px;
    }
}
@media(max-width: 800px){
    .middleContent h1{
        left: 2rem;
        font-size: 25px;
        top: -190px;
    }
    .middlearea{
        width: 90%;
        top: -133px;
        height: 75px;
        padding: 5px;
    }
    .middlearea div{
        width: 100px;
        
    }
    .middlearea div p{
        font-size: 15px;
    }
    .mifirstdiv::after{
        top: 90%;
        left: 40%;
    }
    .miunderline{
        transform: translate(30px,-133px);
        width: 90%;
    }
    .videoContent{
        top: -153px;
        width: 90%;
        height: fit-content;
    }
    .videoContent h3{
        font-size: 35px;
    }
    .tour{
        font-size: 25px;
    }
    .destination{
        font-size: 20px;
        text-align: justify;
    }
    .videoContent button{
        top: 50px;
        left: 35%;
    }
    .imageContent{
        top: -65px;
        width: 90%;
        height: 550px;
    }
    .imageContent h3{
        font-size: 35px;
    }
    .exp{
        font-size: 25px;
    }
    .places{
        font-size: 20px;
        text-align: justify;
    }
    .imageContent button{
        top: 20%;
        left: 30%;
        font-size: 20px;
    }
    .factdiv{
        top: 100px;
        width: 100%;
    }
    .factfirstp{
        font-size: 25px;
    }
    .factdivLast p:last-child{
        font-size: 18px;
        padding-right: 20px;
        padding-top: 0px;
    }
    #right_arrow{
        font-size: 30px;
    }
    #left_arrow{
        font-size: 30px;
    }
}
@media(max-width: 600px){
    .middleContent{
        top: 350px;
    }
    .middleContent h1{
        font-size: 20px;
        text-align: center;
        margin: auto;
        width: 80%;
        left: 1rem;
    }
    .middlearea{
        width: 90%;
        top: -94px;
        height: 50px;
        padding: 5px;
    }
    .middlearea div{
        width: 100px;
        font-size: 8px;
    }
    .middlearea div p{
        font-size: 10px;
    }
    .mifirstdiv::after{
        top: 92%;
        left: 40%;
        width: 15px;
        height: 15px;
    }
    .miunderline{
        transform: translate(20px,-94px);
        width: 90%;
    }
    .videoContent{
        top: -114px;
        width: 92%;
        height: fit-content;
    }
    .videoContent h3{
        font-size: 23px;
    }
    .video iframe{
        height: 100px;
    }
    .tour{
        font-size: 18px;
    }
    .destination{
        font-size: 15px;
        text-align: justify;
    }
    .videoContent button{
        top: 30px;
        left: 30%;
        font-size: 18px;
    }
    .imageContent{
        top: -65px;
        width: 90%;
        height: 400px;
    }
    .imageContent h3{
        font-size: 23px;
    }
    .exp{
        font-size: 18px;
    }
    .places{
        font-size: 15px;
        text-align: justify;
    }
    .imageContent button{
        top: 20%;
        left: 26%;
        font-size: 18px;
    }
    .factdiv{
        top: 100px;
        width: 90%;
        height: 150px;
    }
    .factdivFirst{
        height: 150px;
    }
    .factfirstp{
        font-size: 18px;
        transform: translate(20px,18px);
    }
    .factfirstp::after{
        width: 80px;
        transform: translate(60px,-29px);
    }
    .factdivLast p:last-child{
        font-size: 13px;
        padding-right: 10px;
        transform: translate(20px,20px);
    }
    #right_arrow{
        font-size: 30px;
    }
    #left_arrow{
        font-size: 30px;
    }
}
@media(max-width: 500px){
    .middleContent h1{
        left: 1rem;
        font-size: 20px;
    }
    .middlearea{
        width: 90%;
        top: -94px;
        height: 50px;
    }
    .middlearea div{
        width: 100px;
    }
    .middlearea div p{
        font-size: 8.5px;
    }
    .mifirstdiv::after{
        top: 88%;
        left: 40%;
    }
    .miunderline{
        transform: translate(15px,-95px);
        width: 90%;
    }
    .videoContent{
        top: -115px;
        width: 90%;
        height: fit-content;
    }
    .videoContent h3{
        font-size: 30px;
    }
    .videos{
        display: block;
    }
    .firstVideos{
        width: 100%;
    }
    .lastVideos{
        width: 100%;
        margin-top: 50px;
    }
    .tour{
        font-size: 23px;
    }
    .destination{
        font-size: 16px;
        text-align: justify;
    }
    .videoContent button{
        top: 50px;
        left: 30%;
    }
    .imageContent{
        top: -60px;
        width: 90%;
        height: fit-content;
    }
    .imageContent h3{
        font-size: 30px;
    }
    .images{
        display: block;
    }
    .firstImages{
        width: 100%;
    }
    .lastImages{
        width: 100%;
        margin-top: 50px;
    }
    .exp{
        font-size: 23px;
    }
    .places{
        font-size: 16px;
        text-align: justify;
    }
    .imageContent button{
        top: 50px;
        left: 20%;
    }
    .factdiv{
        top: 150px;
        width: 90%;
    }
    .factfirstp{
        transform: translate(10px,10px);
    }
    .factdivLast{
        height: 100%;
    }
    .factdivLast p::after{
        width: 30px;
        transform: translate(74px,-32px);
    }
    .factdivLast p:last-child{
        font-size: 12px;
        padding: 0px;
        transform: translate(10px,10px);
    }
    #right_arrow{
        font-size: 30px;
    }
    #left_arrow{
        font-size: 30px;
    }
}
@media(max-width: 400px){
    .middleContent h1{
        left: 1rem;
        font-size: 20px;
    }
    .middlearea{
        width: 90%;
        top: -94px;
        height: 50px;
    }
    .middlearea div{
        width: 100px;
        font-size: 8px;
    }
    .mifirstdiv{
        padding-left: 12px;
    }
    .mifirstdiv::after{
        top: 90%;
        left: 50%;
        width: 15px;
        height: 15px;
    }
    .miunderline{
        transform: translate(11px,-95px);
        width: 93%;
    }
    .videoContent{
        top: -115px;
        width: 90%;
        height: fit-content;
    }
    .videos{
        display: block;
    }
    .firstVideos{
        width: 100%;
    }
    .lastVideos{
        width: 100%;
        margin-top: 50px;
    }
    .tour{
        font-size: 20px;
        padding: 5px;
    }
    .destination{
        font-size: 15px;
        text-align: justify;
        padding: 5px;
    }
    .videoContent button{
        top: 40px;
        left: 30%;
    }
    .imageContent{
        top: -100px;
        width: 90%;
        height: fit-content;
    }
    .images{
        display: block;
    }
    .firstImages{
        width: 100%;
    }
    .lastImages{
        width: 100%;
        margin-top: 50px;
    }
    .exp{
        font-size: 20px;
        padding: 5px;
    }
    .places{
        font-size: 15px;
        text-align: justify;
        padding: 5px;
    }
    .imageContent button{
        top: 50px;
        left: 18%;
    }
    .factdiv{
        top: 50px;
        width: 90%;
    }
    .factfirstp::after{
        width: 10px;
    }
    .factdivLast p::after{
        width: 20px;
        transform: translate(73px,-32px);
    }
    .factdivLast p:last-child{
        font-size: 10px;
        padding-right: 20px;
    }
    #right_arrow{
        font-size: 30px;
    }
    #left_arrow{
        font-size: 30px;
    }
}
@media(max-width: 380px){
    .middleContent h1{
        left: .5rem;
        font-size: 18px;
    }
    .middlearea{
        width: 90%;
        top: -90px;
        height: 50px;
    }
    .middlearea div{
        width: 100px;
    }
    .middlearea div p{
        font-size: 7.6px;
    }
    .mifirstdiv::after{
        top: 93%;
        left: 40%;
    }
    .miunderline{
        transform: translate(15px,-91px);
        width: 90%;
        height: 1px;
    }
    .videoContent{
        top: -110px;
        width: 90%;
        height: fit-content;
    }
    .videos{
        display: block;
    }
    .firstVideos{
        width: 100%;
    }
    .lastVideos{
        width: 100%;
        margin-top: 50px;
    }
    .tour{
        font-size: 18px;
    }
    .destination{
        font-size: 13px;
        text-align: justify;
    }
    .videoContent button{
        top: 25px;
        left: 28%;
    }
    .imageContent{
        top: -100px;
        width: 90%;
        height: fit-content;
    }
    .images{
        display: block;
    }
    .firstImages{
        width: 100%;
    }
    .lastImages{
        width: 100%;
        margin-top: 50px;
    }
    .exp{
        font-size: 18px;
    }
    .places{
        font-size: 13px;
        text-align: justify;
    }
    .imageContent button{
        top: 30px;
        left: 15%;
    }
    .factdiv{
        top: 0px;
        width: 90%;
    }
    .factdivFirst{
        height: 140px;
        margin-left: 20px;
        top: -10px;
    }
    .factfirstp::after{
        width: 100px;
    }
    .factdivLast p:last-child{
        font-size: 10px;
        padding-right: 20px;
    }
    #right_arrow{
        font-size: 30px;
    }
    #left_arrow{
        font-size: 30px;
    }
}
@media(max-width: 370px){
    .middleContent h1{
        left: 0rem;
        font-size: 20px;
    }
    .middlearea{
        width: 90%;
        top: -106px;
        height: 40px;
    }
    .middlearea div{
        width: 100px;
        font-size: 8px;
    }
    .mifirstdiv::after{
        top: 90%;
        left: 50%;
        width: 15px;
        height: 15px;
    }
    .miunderline{
        transform: translate(15px,-107px);
        width: 90%;
    }
    .videoContent{
        top: -127px;
        width: 90%;
        height: fit-content;
    }
    .videos{
        display: block;
    }
    .firstVideos{
        width: 100%;
    }
    .lastVideos{
        width: 100%;
        margin-top: 50px;
    }
    .tour{
        font-size: 16px;
    }
    .destination{
        font-size: 15px;
        text-align: justify;
    }
    .videoContent button{
        top: 25px;
        left: 23%;
    }
    .imageContent{
        top: -100px;
        width: 90%;
        height: fit-content;
    }
    .images{
        display: block;
    }
    .firstImages{
        width: 100%;
    }
    .lastImages{
        width: 100%;
        margin-top: 50px;
    }
    .exp{
        font-size: 16px;
    }
    .places{
        font-size: 15px;
        text-align: justify;
    }
    .imageContent button{
        top: 30px;
        left: 13%;
    }
    .factdiv{
        top: 0px;
        width: 90%;
        height: 120px;
    }
    .factdivFirst{
        height: 110px;
        margin-left: 20px;
        top: -10px;
    }
    .factfirstp{
        transform: translate(10px,10px);
    }
    .factfirstp::after{
        width: 150px;
    }
    .factdivLast p:last-child{
        font-size: 9px;
        padding-right: 20px;
        margin-top: 0px;
        transform: translate(10px,10px);
        width: 120px;
    }
    #right_arrow{
        font-size: 30px;
    }
    #left_arrow{
        font-size: 30px;
    }
}
@media(max-width: 300px){
    .middleContent h1{
        left: .5rem;
        font-size: 20px;
    }
    .middlearea{
        width: 90%;
        top: -105px;
        height: 40px;
    }
    .mifirstdiv{
        padding-left: 0px;
    }
    .middlearea div{
        width:10%;
    }
    .middlearea div p{
        font-size: 6px;
        padding: 5px;
    }
    .mifirstdiv::after{
        top: 98%;
        left: 40%;
        width: 10px;
        height: 10px;
    }
    .miunderline{
        transform: translate(10px,-106px);
        width: 90%;
    }
    .videoContent{
        top: -126px;
        width: 90%;
        height: fit-content;
    }
    .videos{
        display: block;
    }
    .firstVideos{
        width: 100%;
    }
    .lastVideos{
        width: 100%;
        margin-top: 50px;
    }
    .tour{
        font-size: 15px;
    }
    .destination{
        font-size: 15px;
        text-align: justify;
    }
    .videoContent button{
        top: 40px;
        left: 20%;
    }
    .imageContent{
        top: -100px;
        width: 90%;
        height: fit-content;
    }
    .images{
        display: block;
    }
    .firstImages{
        width: 100%;
    }
    .lastImages{
        width: 100%;
        margin-top: 50px;
    }
    .exp{
        font-size: 15px;
        padding: 0px;
    }
    .places{
        font-size: 15px;
        text-align: justify;
    }
    .imageContent button{
        top: 30px;
        left: 8%;
        font-size: 15px;
    }
    .factdiv{
        top: 0px;
        width: 90%;
        height: 100px;
    }
    .factdivFirst{
        height: 90px;
        margin-left: 20px;
        top: -10px;
    }
    .factfirstp{
        transform: translate(10px,5px);
        font-size: 12px;
    }
    .factfirstp::after{
        width: 20px;
        transform: translate(20px,-20px);
    }
    .factdivLast p:last-child{
        font-size: 8px;
        padding-right: 20px;
        margin-top: 0px;
        transform: translate(10px,0px);
        width: 110px;
    }
    #right_arrow{
        font-size: 20px;
    }
    #left_arrow{
        font-size: 20px;
    }
}